.redoc-wrap > div:last-of-type {
  background-color: #fff;
}

/* SIDEBAR */

.redoc-wrap div.menu-content {
  top: 91px !important;
  height: calc(100vh - 91px) !important;
}

.redoc-wrap div.menu-content {
  background-color: #fff;
  border-right: 1px solid #b9b9b9;
  padding-top: 32px;
}

.redoc-wrap div[role="search"] {
  display: none;
}

.redoc-wrap label[role="menuitem"] {
  color: #000;
  font-size: 18px;
  line-height: 28px;
  padding: 0;
  font-family: Barlow, sans-serif;
  margin: 8px 16px;
  align-items: center;
}

.redoc-wrap label.active[role="menuitem"],
.redoc-wrap label[role="menuitem"]:hover {
  background-color: #fff !important;
}

.redoc-wrap label[role="menuitem"] svg {
  width: 16px;
  height: 16px;
}

.redoc-wrap label[role="menuitem"] svg polygon {
  fill: #777777 !important;
}

.redoc-wrap ul ul li label[role="menuitem"] {
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: #eeeeee;
  margin-left: 24px;
  margin-top: 0px;
  margin-right: 16px;
  min-height: 32px;
  padding: 4px 8px;
  border-radius: 4px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 24px;
}

.redoc-wrap ul ul li label[role="menuitem"]:hover,
.redoc-wrap ul ul li label.active[role="menuitem"] {
  background-color: #eeeeee !important;
}

.redoc-wrap span.operation-type + span {
  width: auto !important;
}

.redoc-wrap span.operation-type {
  border-radius: 8px;
  margin-left: 4px;
  margin-top: 4px;
  font-size: 9px;
  height: 16px;
  line-height: 16px;
  width: 40px;
  box-sizing: border-box;
  color: #000;
  font-weight: 500;
}

/* TYPOGRAPHY */

.redoc-wrap h1,
.redoc-wrap h2,
.redoc-wrap h3,
.redoc-wrap h4,
.redoc-wrap h5,
.redoc-wrap p,
.redoc-wrap ol,
.redoc-wrap ul,
.redoc-wrap td,
.redoc-wrap th,
.redoc-wrap dl {
  color: #454545;
  font-family: Barlow, sans-serif;
}

.redoc-wrap.redoc-wrap a,
.redoc-wrap.redoc-wrap a:visited,
.redoc-wrap.redoc-wrap a:hover {
  color: #be1e94;
  font-family: Barlow, sans-serif;
}

.redoc-wrap.redoc-wrap a:hover {
  text-decoration: underline;
}

.redoc-wrap h1 {
  font-size: 28px;
  line-height: 34px;
  color: #191919;
}

.redoc-wrap h2 {
  font-size: 22px;
  line-height: 30px;
}

.redoc-wrap h3 {
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
}

.redoc-wrap h4 {
}

.redoc-wrap h5 {
  color: #6a6a6a;
  font-size: 14px;
  line-height: 30px;
}

.redoc-wrap p {
  font-family: Barlow, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* TABLE */

.redoc-wrap table tr {
  border-top: 0 !important;
  background-color: #fff;
}

.redoc-wrap table tr th {
  background-color: transparent;
}

.redoc-wrap table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.redoc-wrap table tr td > span:first-child {
  display: none;
}

.redoc-wrap table tr td > div {
  margin-left: 0;
}

.redoc-wrap table tr td {
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-image: none !important;
}

.redoc-wrap table tr td:last-child {
  border-right: 0 !important;
}

/* HTTP-VERB */

.redoc-wrap .http-verb {
  font-size: 12px;
  line-height: 24px;
  color: #000;
  font-weight: 500;
  border-radius: 4px;
  height: 22px;
  padding: 0 8px;
}

/* ROW */

.redoc-wrap .api-content > div:not(:last-of-type)::after {
  border-bottom-color: #b9b9b9;
  width: calc(100% - 64px);
  margin-left: 32px;
}

.redoc-wrap .api-content > div > div > div:first-child > div h3 ~ div + div {
  border-top: 1px solid #eeeeee;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:first-child
  > div
  h3
  ~ div
  > div
  > svg {
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-right: 8px;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:first-child
  > div
  h3
  ~ div
  svg
  polygon {
  fill: #626162;
}

.redoc-wrap .api-content > div > div > div:first-child > div h3 ~ div p {
  color: inherit;
}

/* CODE_BLOCK_SELECTOR */
/* .redoc-wrap .api-content > div > div > div:nth-child(2) */

/* endpoing dropdown inside code block */
/* CODE_BLOCK_SELECTOR > div:first-child > div */

.redoc-wrap .api-content > div > div > div:nth-child(2) {
  background-color: #fff;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  > div:first-child
  > div {
  background: #fcfcfc;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  color: #000;
  padding: 8px 16px;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  > div:first-child
  > div
  span:nth-child(2) {
  font-family: Barlow, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  > div:first-child
  > div
  > svg {
  margin-right: 0 !important;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  > div:first-child
  > div
  > svg
  polygon {
  fill: #626162;
}

.redoc-wrap .api-content > div > div > div:nth-child(2) h3 {
  color: #454545;
  text-transform: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-top: 8px;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  h3
  + div
  > .react-tabs__tab-panel--selected {
  background: #fcfcfc;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 8px;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  h3
  + div
  > div
  > div
  > div:first-child {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 8px 16px;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  h3
  + div
  > div
  > div
  > div:first-child
  > span {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  font-family: Barlow, sans-serif;
  color: #6a6a6a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  h3
  + div
  > div
  > div
  > div:first-child
  > div {
  color: #191919;
  background: none;
  font-size: 14px;
  line-height: 20px;
  font-family: Barlow, sans-serif;
  margin: 0;
  padding: 0;
}

.redoc-wrap
  .api-content
  > div
  > div
  > div:nth-child(2)
  h3
  + div
  > div
  > div
  > div:nth-child(2)
  > div
  > div:first-child {
  color: #6a6a6a;
  opacity: 1;
  font-family: Barlow, sans-serif;
}

/* SYNTAX */
.redoc-wrap.redoc-wrap.redoc-wrap code[class*="language-"],
.redoc-wrap.redoc-wrap.redoc-wrap pre[class*="language-"] {
  color: #393a34;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier,
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.9em;
  line-height: 1.2em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.redoc-wrap.redoc-wrap.redoc-wrap pre > code[class*="language-"] {
  font-size: 1em;
}

.redoc-wrap.redoc-wrap.redoc-wrap pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
.redoc-wrap.redoc-wrap.redoc-wrap code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: #c1def1;
}

.redoc-wrap.redoc-wrap.redoc-wrap pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
.redoc-wrap.redoc-wrap.redoc-wrap code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: #c1def1;
}

.redoc-wrap.redoc-wrap.redoc-wrap pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border: 1px solid #dddddd;
  background-color: white;
}

.redoc-wrap.redoc-wrap.redoc-wrap :not(pre) > code[class*="language-"] {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.comment,
.redoc-wrap.redoc-wrap.redoc-wrap .token.prolog,
.redoc-wrap.redoc-wrap.redoc-wrap .token.doctype,
.redoc-wrap.redoc-wrap.redoc-wrap .token.cdata {
  color: #008000;
  font-style: italic;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.namespace {
  opacity: 0.7;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.string {
  color: #a31515;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.punctuation,
.redoc-wrap.redoc-wrap.redoc-wrap .token.operator {
  color: #393a34;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.url,
.redoc-wrap.redoc-wrap.redoc-wrap .token.symbol,
.redoc-wrap.redoc-wrap.redoc-wrap .token.number,
.redoc-wrap.redoc-wrap.redoc-wrap .token.boolean,
.redoc-wrap.redoc-wrap.redoc-wrap .token.variable,
.redoc-wrap.redoc-wrap.redoc-wrap .token.constant,
.redoc-wrap.redoc-wrap.redoc-wrap .token.inserted {
  color: #36acaa;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.atrule,
.redoc-wrap.redoc-wrap.redoc-wrap .token.keyword,
.redoc-wrap.redoc-wrap.redoc-wrap .token.attr-value,
.redoc-wrap.redoc-wrap.redoc-wrap .language-autohotkey .token.selector,
.redoc-wrap.redoc-wrap.redoc-wrap .language-json .token.boolean,
.redoc-wrap.redoc-wrap.redoc-wrap .language-json .token.number,
code[class*="language-css"] {
  color: #0000ff;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.function {
  color: #393a34;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.deleted,
.redoc-wrap.redoc-wrap.redoc-wrap .language-autohotkey .token.tag {
  color: #9a050f;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.selector,
.redoc-wrap.redoc-wrap.redoc-wrap .language-autohotkey .token.keyword {
  color: #00009f;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.important,
.redoc-wrap.redoc-wrap.redoc-wrap .token.bold {
  font-weight: bold;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.italic {
  font-style: italic;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.class-name,
.redoc-wrap.redoc-wrap.redoc-wrap .language-json .token.property {
  color: #2b91af;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.tag,
.redoc-wrap.redoc-wrap.redoc-wrap .token.selector {
  color: #800000;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.attr-name,
.redoc-wrap.redoc-wrap.redoc-wrap .token.property,
.redoc-wrap.redoc-wrap.redoc-wrap .token.regex,
.redoc-wrap.redoc-wrap.redoc-wrap .token.entity {
  color: #ff0000;
}

.redoc-wrap.redoc-wrap.redoc-wrap .token.directive.tag .tag {
  background: #ffff00;
  color: #393a34;
}

.redoc-wrap.redoc-wrap.redoc-wrap .line-numbers .line-numbers-rows {
  border-right-color: #a5a5a5;
}

.redoc-wrap.redoc-wrap.redoc-wrap .line-numbers-rows > span:before {
  color: #2b91af;
}

.redoc-wrap.redoc-wrap.redoc-wrap .line-highlight {
  background: rgba(193, 222, 241, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(193, 222, 241, 0.2) 70%,
    rgba(221, 222, 241, 0)
  );
  background: linear-gradient(
    to right,
    rgba(193, 222, 241, 0.2) 70%,
    rgba(221, 222, 241, 0)
  );
}

/* TAB STATUS */

.redoc-wrap .react-tabs__tab-list > li {
  background-color: #0075a2;
  color: #fff;
  border-color: #0075a2;
  border-radius: 6px;
  font-size: 12px;
  line-height: 20px;
}

.redoc-wrap .react-tabs__tab-list .tab-success {
  background-color: #0075a2;
  color: #fff;
  border-color: #0075a2;
}

.redoc-wrap .react-tabs__tab-list .tab-error {
  background-color: #df001f;
  color: #fff;
  border-color: #df001f;
}
